<div>
    <form [formGroup]="configForm" (ngSubmit)="submit()" *ngIf="algorithm">
        <div class="form-group">
            <label for="scale_range">Display Scale (<span>{{ configForm.get('scale').value }}</span>)</label>
            <input formControlName="scale" type="range" class="form-control-range" id="scale_range" min="1" max="20" step="1">
        </div>
        <div class="form-group text-left mt-4">
            <button type="submit" class="btn btn-primary">Apply Changes</button>
        </div>
    </form>
    <div class="alert alert-primary" *ngIf="!algorithm">
        Once algorithm is initialized, here you can configure visualization properties.
    </div>
</div>
