<div>
    <div *ngIf="algorithm" class="mb-4">
        <div class="row mr-0 ml-0 justify-content-between">

            <!-- Play Button -->
            <div class="col-sm-2 text-left">
                <button type="button" class="btn btn-primary" [disabled]="!algorithm.hasNextIteration()" (click)="nextIteration()">
                    {{ algorithm.currentIteration == 0 ? 'Iterate' : 'Next Iteration' }}
                </button>
            </div>

            <!-- Iteration Count -->
            <div class="col-sm-2 text-left">
                <p class="mt-2">
                    Iteration: <span class="badge badge-success">{{ algorithm.currentIteration }}</span>
                </p>
            </div>

            <!-- End message -->
            <div class="col-sm-12 col-md-8 col-lg-5 pr-0 pl-0" *ngIf="!algorithm.hasNextIteration()">
                <!-- Clustering complete -->
                <div class="alert alert-secondary mb-0" role="alert" *ngIf="algorithm.currentIteration == algorithm.maxIterations()">
                    You have reached final iteration! Initialize new algorithm to play again.
                    <span *ngIf="algorithm.currentIteration < algorithm.maxIterations()">Found {{ algorithm.getClusters().length }} clusters! Initialize new algorithm to play again.</span>
                </div>

                <!-- Maximum number of iterations reached -->
                <div class="alert alert-success mb-0" role="alert" *ngIf="algorithm.currentIteration < algorithm.maxIterations()">
                    Found {{ algorithm.getClusters().length }} clusters! Initialize new algorithm to play again.
                </div>
            </div>

        </div>
    </div>
</div>
