<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <span class="navbar-brand text-light font-weight-bold">KMeans Clustering</span>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" [class.active]="router.isActive('/home')">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/details']" [class.active]="router.isActive('/details')">Details</a>
            </li>
        </ul>
    </div>
</nav>
