.algorithm-control {
    padding: 0;
    border-radius: 0.5rem;
    background-color: rgb(236, 248, 255);
}

.form-banner {
    background-color: rgb(117, 200, 255);
    color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem 0;
    margin-bottom: 1rem;

    h2 {
        font-weight: bold;
        font-size: 1.5rem;
    }

    p {
        font-weight: lighter;
        font-size: 0.8rem;
        margin: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    &-borderless {
        border-radius: 0;
    }
}
