<div class="container-fluid pt-3 text-center">
    <div class="row">
        <div class="col-sm-8">
            <p class="lead text-center">Canvas</p>
        </div>
        <div class="col-sm-4">
            <div class="algorithm-control">
                <div class="form-banner">
                    <h2>Algorithm configuration</h2>
                    <p>Here you can configure different  aspects of your algorithm</p>
                </div>
                <algorithm-config (configurationSelected)="onConfigurationSelected($event)"></algorithm-config>
            </div>
        </div>
    </div>
</div>
