.algorithm-control {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(236, 248, 255);
}

.form-banner {
    background-color: rgb(117, 200, 255);
    color: white;
    border-radius: 0.5rem;
    padding: 0.7rem;
    margin-bottom: 1rem;

    h2 {
        font-weight: bold;
        font-size: 1.5rem;
    }

    p {
        font-weight: lighter;
        font-size: 0.8rem;
        margin: 0;
    }
}
