<div class="text-center background">
    <div class="algorithm-control">

        <div class="row m-0">
            <div class="col-sm-12 p-0">
                <div class="form-banner">
                    <h2>Algorithm configuration</h2>
                    <p>Here you can configure different aspects of your algorithm</p>
                </div>
            </div>
        </div>

        <div class="row pl-3 pr-3 m-0 mt-3">
            <div class="col-sm-12 col-md-6">
                <div class="mb-1">
                    <algorithm-config (configurationSelected)="onConfigurationSelected($event)"></algorithm-config>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <algorithm-playback [algorithm]="algorithm" (onNextIteration)="onNextIteration()"></algorithm-playback>
            </div>
        </div>

        <div class="row m-0">
            <div class="col-sm-12 p-0 mt-3">
                <div class="form-banner">
                    <h2>Data visualization</h2>
                    <p>Here you can see 2D visualization of current iteration</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 mt-3" *ngIf="algorithm">
                <algorithm-display [algorithm]="algorithm"></algorithm-display>
            </div>
            <div class="col-sm-12" *ngIf="!algorithm">
                <div class="alert alert-warning ml-4 mr-4" role="alert" *ngIf="!algorithm">
                    Initialize algorithm and perform iteration to visualize clusters.
                </div>
            </div>
        </div>

    </div>
</div>
