<div class="container-fluid pt-3 text-center">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <algorithm-display [algorithm]="algorithm" *ngIf="algorithm"></algorithm-display>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="algorithm-control">
                <div class="form-banner">
                    <h2>Algorithm configuration</h2>
                    <p>Here you can configure different aspects of your algorithm</p>
                </div>

                <div class="mb-1 p-3">
                    <algorithm-config (configurationSelected)="onConfigurationSelected($event)"></algorithm-config>
                </div>

                <div class="form-banner form-banner-borderless mb-0">
                    <h2>Algorithm playback</h2>
                    <p>Here you can control selected algorithm</p>
                </div>

                <div class="p-3">
                    <algorithm-playback [algorithm]="algorithm" (onNextIteration)="onNextIteration()"></algorithm-playback>
                </div>
            </div>
        </div>
    </div>
</div>
